[Desktop Entry]
Version=1.0
Type=Link
Name=ACR Appropriateness Criteria
Comment=Recommendations for when to use specific imaging modalities for certain problems.
Icon=firefox
URL=https://acsearch.acr.org/list
Keywords=imaging; appropriateness; acr; american; college; of; radiology; criteria; contrast; without; mri; us; ultrasound; x-ray