[Desktop Entry]
Version=1.0
Type=Link
Name=Air Force Portal
Comment=Main portal for the Air Force
Icon=firefox
URL=https://www.my.af.mil
Keywords=af; mil; portal; air; force; login; home; page; site