[Desktop Entry]
Version=1.0
Type=Link
Name=Albumin to Creatinine Calculator
Comment=For converting a microalbumin to an albumin to creatinine ratio.
Icon=firefox
URL=https://www.omnicalculator.com/health/acr
Keywords=albumin; creatinine; ratio; microalbumin