[Desktop Entry]
Version=1.0
Type=Link
Name=Amion
Comment=Links to the Amion website, useful for seeing which doctor is on call.
Icon=firefox
URL=https://www.amion.com/
Keywords=schedule; amion; am; i; on; on-call; call; link