[Desktop Entry]
Version=1.0
Type=Link
Name=AVHE
Comment=Use this website to access AHLTA, AHLTA Web Print, Outlook, and others from home.
Icon=firefox
URL=https://avhe.health.mil
Keywords=ahlta; awp; outlook; link; avhe