[Desktop Entry]
Version=1.0
Type=Link
Name=BiliTool
Comment=Links to the BiliTool website. Useful for calculating an infant's risk of hyperbilirubinemia.
Icon=firefox
URL=https://bilitool.org/
Keywords=bilirubin; hyperbilirubinemia; baby; infant; fetal; bilitool; link