[Desktop Entry]
Version=1.0
Type=Link
Name=Burn Pit Registry
Comment=For enrolling in the burn pit registry
Icon=firefox
URL=www.publichealth.va.gov/exposures/burnpits/registry.asp
Keywords=burn; pit; registry; enrollment; enrolling; smoke; inhalation