[Desktop Entry]
Version=1.0
Type=Link
Name=CCQAS
Comment=A website for managing credentials (I think)
Icon=firefox
URL=https://ccqas.csd.disa.mil
Keywords=ccqas; credentialing; credentials