[Desktop Entry]
Version=1.0
Type=Link
Name=Convalescent Leave AF Form 988
Comment=Convalescent leave request form. Note, the form must be completed in adobe acrobat.
Icon=firefox
URL=https://www.hqrio.afrc.af.mil/Portals/149/Forms/AF%20Forms/AF988.pdf
Keywords=convalescent; leave; request; form; injury; childbirth; illness; rest; recuperate; healing