[Desktop Entry]
Version=1.0
Type=Link
Name=Cystatin C GFR Calculator
Comment=For calculating a GFR based on the cystatin c
Icon=firefox
URL=https://www.kidney.org/professionals/kdoqi/gfr_calculator
Keywords=cystatin; c; gfr; kidney; calculator