[Desktop Entry]
Version=1.0
Type=Link
Name=DMHRSI
Comment=For reporting hours worked in the Air Force.
Icon=firefox
URL=https://dmhrsi.csd.disa.mil
Keywords=hours; worked; timecard; dmhrsi; dim; dhmrsi; dmrsi