[Desktop Entry]
Version=1.0
Type=Link
Name=ECG Source, EKG training
Comment=A website for practicing EKG reads
Icon=firefox
URL=http://ecgsource.com
Keywords=ekg; ecg; electrocardiogram; cardiology; heart; source; training