[Desktop Entry]
Version=1.0
Type=Link
Name=EMRA Splinting Guide (PDF)
Comment=Instructions for splinting various common orthopedic problems
Icon=firefox
URL=https://www.emra.org/globalassets/emra/publications/reference-cards/emra_sportsmedicine_splint_guide.pdf
Keywords=emra; splinting; guide; ortho; orthopedic; instructions