[Desktop Entry]
Version=1.0
Type=Link
Name=Epilepsy Foundation Driving Laws
Comment=State driving laws for those with epilepsy.
Icon=firefox
URL=https://www.epilepsy.com/driving-laws
Keywords=license; driving; seizures; epilepsy; laws; epilepsy; foundatin; laws