[Desktop Entry]
Version=1.0
Type=Link
Name=FRAX Risk Calculator
Comment=A calculator for evaluating a patient's risk of fractures related to osteoporosis.
Icon=firefox
URL=https://www.sheffield.ac.uk/FRAX/tool.aspx
Keywords=frax; fracture; fragility; frailty; osteoporosis; osteopenia; risk; calculator