[Desktop Entry]
Version=1.0
Type=Link
Name=GameChanger Advana
Comment=A website that is supposedly good for finding military forms
Icon=firefox
URL=https://gamechanger.advana.data.mil/
Keywords=forms; game; changer; advana; military; af; army; navy