[Desktop Entry]
Version=1.0
Type=Link
Name=Global Teleconsultation Portal
Comment=For consulting specialists who are not on the island
Icon=firefox
URL=https://path.tamc.amedd.army.mil
Keywords=gtp; global; teleconsultation; consultation; consult; specialist; referral; telehealth; help; portal; forum; path