[Desktop Entry]
Version=1.0
Type=Link
Name=JLV
Comment=Legacy medical records
Icon=firefox
URL=https://jlv.health.mil/JLV/app/index
Keywords=jlv; joint; legacy; viewer; records; medical