[Desktop Entry]
Version=1.0
Type=Link
Name=Joint Knowledge Online, (JKO)
Comment=Website where computer based training is hosted.
Icon=firefox
URL=https://jkodirect.jten.mil/
Keywords=jko; joint; knowledge; exchange; computer; based; training; lessons