[Desktop Entry]
Version=1.0
Type=Link
Name=Labcorp
Comment=For looking up labcorp labs. When ordering the lab, use 'Test Ordered:'
Icon=firefox
URL=https://www.labcorp.com
Keywords=labcorp; miscellaneous; sendout; test; ordered; lab