[Desktop Entry]
Version=1.0
Type=Link
Name=MERCK Manual, Pediatric Blood Pressure Calculator, Girls
Comment=For calculating if a boy's blood pressure is outside of normal.
Icon=firefox
URL=https://www.merckmanuals.com/medical-calculators/BloodPressurePercentGirls.htm
Keywords=pediatric; blood; pressure; bp; peds; girls; females; merck; merk