[Desktop Entry]
Version=1.0
Type=Link
Name=MERCK Manual, Pediatric Blood Pressure Calculator, Boys
Comment=For calculating if a boy's blood pressure is outside of normal.
Icon=firefox
URL=https://www.merckmanuals.com/medical-calculators/BloodPressurePercentBoys.htm
Keywords=pediatric; blood; pressure; bp; peds; boys; males; merk; merck