[Desktop Entry]
Version=1.0
Type=Link
Name=MHS Genesis
Comment=Use this website to access MHS Genesis from a personal computer.
Icon=firefox
URL=https://access.mhsgenesis.health.mil
Keywords=cerner; link; mhs; genesis