[Desktop Entry]
Version=1.0
Type=Link
Name=Military Outlook Email
Comment=For checking military email
Icon=firefox
URL=https://webmail.apps.mil/mail
Keywords=email; outlook; message; messaging; military