[Desktop Entry]
Version=1.0
Type=Link
Name=Military PMP Aware
Comment=For looking up patient use of controlled substances.
Icon=firefox
URL=https://mhs.pmpaware.net/login
Keywords=prescription; monitoring; program; military; pmp; controlled; substances; link