[Desktop Entry]
Version=1.0
Type=Link
Name=Military Outlook Email2
Comment=Another url that sometimes works
Icon=firefox
URL=https://web.mail.mil/owa
Keywords=military; email; outlook; message; messaging