[Desktop Entry]
Version=1.0
Type=Link
Name=myLearning
Comment=Yet another website for completing computer-based trainings
Icon=firefox
URL=https://lms-jets.cce.af.mil/moodle
Keywords=mylearning; my; learning; training; cbt; computer; based; training