[Desktop Entry]
Version=1.0
Type=Link
Name=National Plan and Provider Enumeration System
Comment=For updating personal information on the NPI database
Icon=firefox
URL=https://nppes.cms.hhs.gov
Keywords=npi; database; physician; link; national; plan; and; provider; enumeration; system