[Desktop Entry]
Version=1.0
Type=Link
Name=Neonatal Early Onset Sepsis Calculator
Comment=Links to the Neonatal Early-Onset Sepsis Calculator.
Icon=firefox
URL=https://neonatalsepsiscalculator.kaiserpermanente.org/
Keywords=neonatal; sepsis; infant; baby; sick; early; onset; infection; risk; gestation; link; early; onset; calculator