[Desktop Entry]
Version=1.0
Type=Link
Name=Olsen Growth Calculator
Comment=Links to the Olsen growth calculator; useful for determining whether an infant is small/appropriate/large for gestational age.
Icon=firefox
URL=https://peditools.org/olsen2010/
Keywords=size; weight; ped; peds; pediatric; infant; baby; growth; head; circumference; length; gestational; age; link; olsen; calculator