[Desktop Entry]
Version=1.0
Type=Link
Name=Relias
Comment=For signing up for medical trainings like PALs and NRP.
Icon=firefox
URL=https://DHA20319.training.reliaslearning.com
Keywords=nrp; pals; stable; als; bls; link; relias; training