[Desktop Entry]
Version=1.0
Type=Link
Name=Side Effects of Anti-Depressants
Comment=A matrix showing main side effects of many anti-depressant medications in one nifty table.
Icon=firefox
URL=https://www.uptodate.com/contents/image?imageKey=PC%2F62488
Keywords=antidepressant; ssri; depression; table; side; effect; matrix