[Desktop Entry]
Version=1.0
Type=Link
Name=Therapist Aid
Comment=Website for obtaining handouts for patients
Icon=firefox
URL=https://www.therapistaid.com
Keywords=therapy; therapist; cbt; cognitive; behavioral