[Desktop Entry]
Version=1.0
Type=Link
Name=TigerConnect
Comment=Website for collaborating with your healthcare team.
Icon=firefox
URL=https://tigerconnect.com/
Keywords=tiger; connect; tigerconnect; text; app; phone; call; communicate; collaborate; connect