[Desktop Entry]
Version=1.0
Type=Link
Name=Travax
Comment=Website for verifying whether a person needs special vaccinations and prophylaxis prior to travel.
Icon=firefox
URL=https://www.travax.com/account/login/dod
Keywords=vaccine; prophylaxis; ppx; vax; travax; travel; tropical; malaria; dengue; typhoid