[Desktop Entry]
Version=1.0
Type=Link
Name=Tricare Messaging
Comment=The website to communicate with patients.
Icon=firefox
URL=https://app.tolsecuremessaging.com
Keywords=tricare; online; messaging; messages; patient; tcons