[Desktop Entry]
Version=1.0
Type=Link
Name=Tricare Online
Comment=The tricare patient portal.
Icon=firefox
URL=https://www.tricareonline.com
Keywords=tricare; online; patient; portal