[Desktop Entry]
Version=1.0
Type=Link
Name=uCern
Comment=For submitting feature requests for Cerner
Icon=firefox
URL=https://community.cerner.com
Keywords=ucern; feature; request; cerner; genesis; mhs; ideas; program