[Desktop Entry]
Version=1.0
Type=Link
Name=USPSTF A and B Recommendations
Comment=A quick reference for when to get certain screenings.
Icon=firefox
URL=https://www.uspreventiveservicestaskforce.org/uspstf/recommendation-topics/uspstf-and-b-recommendations
Keywords=uspstf; screening; guidelines; preventative; task; force; services; a; and; b