[Desktop Entry]
Version=1.0
Type=Link
Name=VisualDX
Comment=Tool for nailing the diagnosis with the help of AI
Icon=firefox
URL=https://www.visualdx.com/visualdx/7/
Keywords=visual; dx; visualdx; diagnosis